
.container {
 height: 100;

position: relative;

}

.imgContainer{
    width:100%;
     height:100%;
     
     
}

.headLineTitle{
    position: absolute;
   
    z-index: 1;
    bottom: 1%;

    width: 100%;
     height: 5em;  
     background-color: black;
     opacity: 0.33;
}